.hidden {
	display: none;
}

.xlinput {
	padding:15px;
    color:#000;
}

.right {
	float:right;
}

.left {
	float:left;
}

#avatar {
	margin-top:4px;
	margin-right: 10px;
}

.well2 {
    width: 130px;
    height: 50px;
    background-color: whiteSmoke;
    background-color: #f6f6f6;
    margin-bottom: 10px;
    padding: 5px;
    min-height: 20px;
    border: 1px solid #EEE;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.log {
    color: silver;
}

div.scroll {
    height: 150px;
    overflow: auto;
}